<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/news.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header_logo__wrapper">
                <div class="logo">
                    <h1>AITU news</h1>
                </div>
                <div class="naming">
                    <h3>assignment 5, 2022</h3>
                </div>
                <div class="log-wrapper">
                    <a href="/mynews" class="mysite">My news</a>
                    <a href="/logout" class="logout">Logout</a>
                </div>
            </div>

        </div>

        <div class="container">
            <nav>
            <ul class="navbar">
                <li><a href="#" class="navLink">Business</a></li>
                <li><a href="#" class="navLink">Entertainment</a></li>
                <li><a href="#" class="navLink">Health</a></li>
                <li><a href="#" class="navLink">Science</a></li>
                <li><a href="#" class="navLink">Sports</a></li>
            </ul>
         </nav>
        </div>

    </header>

    <section>
        <div class="container">
            <h1>Top headlines: all News</h1>
{% for i in responce %}
            <div class="wrapper_news" style="margin-bottom: 20px">
                <div class="inner_wrapper">
                    <div class="img_wrapper">
                        <img src={{i.image}} alt="node" width="500" height="auto">
                    </div>
                    <div class="description">
                        <h5 class="title">{{i.title}}</h5>
                        <br/>
                        <p class="descript">
                            {{i.content}}
                        </p>
                    </div>

                </div>
            </div>
{% endfor %}
        </div>

    </section>


</body>
</html>