.box-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 90vw;
    border: 2px solid grey;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box h1{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.box a{
    padding: 10px 20px;
    background-color: #085ed6;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}