.container{
    width: 85vw;
    margin: 0 auto;
}

.header_logo__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #085ed6;
}

.mysite{
    padding: 10px;
    background-color: inherit;
    border: 1px solid #085ed6;
    color: #085ed6;
    border-radius: 5px;
    text-decoration: none;
}

.logout{
    padding: 10px;
    background-color: grey;
    border: 1px solid grey;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

.navbar{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
}

nav{
    width: 70%;
    margin: 0 auto;
}

.navLink{
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.inner_wrapper{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    gap: 50px;
}